@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: 'gothic-outline-title';
  src: url('/fonts/gothic-outline-title/gothic-outline-title.eot');
  src: url('/fonts/gothic-outline-title/gothic-outline-title.eot?#iefix')
      format('embedded-opentype'),
    url('/fonts/gothic-outline-title/gothic-outline-title.woff2')
      format('woff2'),
    url('/fonts/gothic-outline-title/gothic-outline-title.woff') format('woff'),
    url('/fonts/gothic-outline-title/gothic-outline-title.ttf')
      format('truetype'),
    url('/fonts/gothic-outline-title/gothic-outline-title.svg#GothicOutlineTitleW01-D')
      format('svg');
}

.bpd-fade-in {
  animation: fadeInAnimation ease 3s;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
  animation-delay: 800ms;
  opacity: 0;
}

@keyframes fadeInAnimation {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

body {
  @apply bg-black;
}

.prose h2 {
  @apply text-3xl;
  @apply mb-3;
}
.prose strong {
  @apply font-extrabold;
}

.bpd-project-tile {
  min-height: 33vh;
}

@media screen and (min-width: 1024px) {
  .bpd-project-tile {
    min-height: 180px;
  }
}

@media screen and (min-width: 1400px) {
  .bpd-project-tile {
    min-height: 22vh;
  }
}

@media screen and (min-width: 1800px) {
  .bpd-project-tile {
    min-height: 20vh;
  }
}

.bpd-news-tile {
  min-height: 33vh;
}

header {
  max-width: 100%;
  overflow-x: hidden;
}

.bpd-white-icon polygon,
.bpd-white-icon path {
  stroke: #fff;
}

.bpd-player-container:fullscreen {
  background-color: rgb(0, 0, 0);
}
.bpd-player-container:-webkit-full-screen {
  background-color: rgb(0, 0, 0);
}
.bpd-player-container:-moz-full-screen {
  background-color: rgb(0, 0, 0);
}

.prose-white a {
  @apply text-gray-300;
}

.bpd-gallery-image-container {
  @apply block;
}

.bpd-gallery-image-container div {
  @apply block !important;
}

.bpd-gallery-image {
  @apply block;
  border: thin solid white !important;
}
