@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: 'gothic-outline-title';
  src: url('/fonts/gothic-outline-title/gothic-outline-title.eot');
  src: url('/fonts/gothic-outline-title/gothic-outline-title.eot?#iefix')
      format('embedded-opentype'),
    url('/fonts/gothic-outline-title/gothic-outline-title.woff2')
      format('woff2'),
    url('/fonts/gothic-outline-title/gothic-outline-title.woff') format('woff'),
    url('/fonts/gothic-outline-title/gothic-outline-title.ttf')
      format('truetype'),
    url('/fonts/gothic-outline-title/gothic-outline-title.svg#GothicOutlineTitleW01-D')
      format('svg');
}

.font-outline {
  letter-spacing: 0.1em;
}

@media (prefers-contrast: more) {
  .font-outline {
    @apply font-sans;
    @apply font-bold;
  }
}

.bpd-fade-in {
  animation: fadeInAnimation ease 3s;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
  animation-delay: 800ms;
  opacity: 0;
}

@keyframes fadeInAnimation {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

body {
  @apply bg-black;
}

.prose h2 {
  @apply text-3xl;
  @apply mb-3;
}
.prose strong {
  @apply font-extrabold;
}

.bpd-project-tile {
  min-height: 33vh;
}

@media screen and (min-width: 1024px) {
  .bpd-project-tile {
    min-height: 180px;
  }
}

@media screen and (min-width: 1400px) {
  .bpd-project-tile {
    min-height: 22vh;
  }
}

@media screen and (min-width: 1800px) {
  .bpd-project-tile {
    min-height: 20vh;
  }
}

header {
  max-width: 100%;
  overflow-x: hidden;
}

.bpd-white-icon polygon,
.bpd-white-icon path {
  stroke: #fff;
}

.bpd-player-container:fullscreen {
  background-color: rgb(0, 0, 0);
}
.bpd-player-container:-webkit-full-screen {
  background-color: rgb(0, 0, 0);
}
.bpd-player-container:-moz-full-screen {
  background-color: rgb(0, 0, 0);
}

.prose-white a {
  @apply text-gray-300;
}

.bpd-gallery-image-container {
  @apply block;
}

.bpd-gallery-image-container div {
  @apply block !important;
}

.bpd-gallery-image {
  @apply block;
  border: thin solid white !important;
}

.ril-outer .ril__toolbar {
  @apply pt-2;
  @apply pb-4;
  @apply px-4;
  @apply bg-black;
  @apply bg-opacity-70;
  height: 80px;
}

.ril-outer .ril__toolbarItem,
.ril-outer .ril__toolbarSide {
  @apply h-full;
}

.ril-outer .ril__toolbarItemChild {
  @apply font-bold;
  @apply text-2xl;
  @apply tracking-wider;
  @apply relative;
}

.ril-outer .ril-toolbar-left .ril__toolbarItemChild:after {
  content: '';
  @apply bg-gold;
  @apply h-1;
  @apply absolute;
  @apply -bottom-2;
  @apply left-0;
  @apply right-16;
  min-width: 60px;
}

.ril-outer .ril__caption {
  max-height: 30vh;
}

.ril-outer .ril__captionContent {
  @apply w-full;
  @apply bg-black;
  @apply text-lg;
  @apply pt-4;
  @apply pb-6;
  @apply px-12;
  @apply text-center;
}

@layer utilities {
  .text-shadow {
    text-shadow: 0 0 4px #1f2937;
  }
  .text-shadow-md {
    text-shadow: 0 0 8px #1f2937;
  }
  .text-shadow-lg {
    text-shadow: 0 0 30px #1f2937;
  }
  .text-shadow-none {
    text-shadow: none;
  }
}

@layer components {
  [type='checkbox']:checked {
    background-image: url("data:image/svg+xml,%3csvg viewBox='0 0 16 16' fill='000' xmlns='http://www.w3.org/2000/svg'%3e%3cpath d='M12.207 4.793a1 1 0 010 1.414l-5 5a1 1 0 01-1.414 0l-2-2a1 1 0 011.414-1.414L6.5 9.086l4.293-4.293a1 1 0 011.414 0z'/%3e%3c/svg%3e");
  }
}
